<div class="container" fade-in>

    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/Hazed/PayPal-IPN-Generator" class="alert alert-link"><span><img
                        ng-src="GitHub-Mark.png">View on GitHub</span></a>
            </div>

            <div class="page-header">
                <h2>PayPal IPN Script Generator</h2>
                <h4>Create a custom PayPal IPN script in one of multiple different languages for your site.</h4>
            </div>
            <div>

                <p>The PayPal IPN Script Generator is an open-source project that is built upon the <a href="https://github.com/robertjchristian/angular-enterprise-seed">AngularJS-Enterprise-Seed</a> using client-side only Javascript.  No data entered into this generator ever leaves your browser and is sent over the net.  Everything is done right on your own browser!</p>

            </div>


            <a class="btn btn-lg btn-primary" href="#/start">Get Started</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>